[bucket "luci.catapult.try"]
# LUCI builders in this bucket are fetched automatically.

[bucket "master.tryserver.client.catapult"]
	builder = Catapult Presubmit
	builder = Catapult Android Tryserver
	builder = Catapult Linux Tryserver
	builder = Catapult Mac Tryserver
	builder = Catapult Windows Tryserver
