📍 Pinpoint found {{ differences|length }} significant difference(s).
{% if mag_index != 0 %}
Please note these potential culprits were found with a maximum regression
size of {{scaled_mag[mag_index]}} instead of the expected regression size of 
{{scaled_mg[0]}}.

A false positive is likely if the measurement is noisy!
{% endif %}

{% if differences|length != 1 -%}
The top {{ differences[:3]|length }} are:
{% endif -%}
{% for diff in differences[:3] -%}
<b>{% if differences|length != 1 -%}{{ loop.index }}. {% endif -%}
{{ diff.commit_info['subject'] }}</b> by {{ diff.commit_info['author'] }}
{{ diff.commit_info['url'] }}
{% if metric %}{{ metric }}: {% endif -%}
{{ diff.Formatted() }}
{%- if not loop.last %}
{% endif %}
{% endfor -%}
{% if notify_why_text %}
{{ notify_why_text }}
{% endif %}
Understanding performance regressions:
  http://g.co/ChromePerformanceRegressions
{%- if differences %}{{doc_links}}{%- endif %}

Pinpoint bisection:
  {{url}}

If you think Pinpoint blamed the wrong commit, please add the
`Chromeperf-Sheriff-NeedsAttention` label to the issue and unassign
yourself so that a sheriff can help diagnose.
{% if missing_values|length > 0 -%}

NOTE: Pinpoint detected some transitions from "no values" to "some values"
measured while bisecting. Here's a list of {{missing_values[:3]|length}}:
{% for diff in missing_values[:3] -%}
<b>{{ diff.commit_info['subject'] }}</b> by {{ diff.commit_info['author'] }}
{{ diff.commit_info['url'] }}
{% if metric %}{{ metric }}: {% endif -%}
{{ diff.Formatted() }}
{%- if not loop.last %}
{% endif %}
{% endfor -%}
{% endif -%}