<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="filter.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='https://unpkg.com/vue-select'></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="./graph_data.js"></script>
    <script src="./line_plotter.js"></script>
    <script src="./box_plotter.js"></script>
    <script src="./graph_plotter.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }
      </style>

<input type='file' id='file-input'/>

<div id='app'>
  <v-select placeholder="Pick a metric" v-if="seen" :options="metrics" v-model="selected_metric"></v-select>
  <v-select placeholder="Pick a story" v-if="seen" :options="stories" v-model="selected_story"></v-select>
  <v-select placeholder="Pick a diagnostic" v-if="seen" :options="diagnostics" 
            v-model="selected_diagnostic"></v-select>
    <div id='canvas'></div>
</div>

<!-- component template for table -->
<script type="text/x-template" id="table-template">
  'use strict';
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="table" v-if="seen">
  <form id="search">
    <input placeholder="Search" name="query" v-model="searchQuery">
  </form>
  <data-table
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </data-table>
</div>
<script src="filter.js"></script>
</body>
</html>